@page
@model LoginModel

@{
    ViewData["Title"] = "Bejelentkezés";
}

<div class="container mt-5">
    @* A justify-content-center teszi középre az oszlopot *@
    <div class="row justify-content-center">
        <div class="col-md-5 col-lg-4">
            <section class="card shadow-sm p-4 bg-white rounded">
                <form id="account" method="post">
                    <h1 class="h3 mb-3 font-weight-normal text-center">Bejelentkezés</h1>
                    <p class="text-muted text-center">Kérjük, adja meg adatait!</p>
                    <hr />
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nev@pelda.hu" />
                        <label asp-for="Input.Email" class="form-label">Email cím</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="jelszó" />
                        <label asp-for="Input.Password" class="form-label">Jelszó</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            Emlékezzen rám
                        </label>
                    </div>
                    
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Belépés</button>
                    </div>

                    @* Elrejtjük a linkeket, amikre nincs szükség *@
                    <div class="mt-3 text-center">
                        <p class="small">
                            <a id="forgot-password" asp-page="./ForgotPassword" class="text-decoration-none">Elfelejtett jelszó?</a>
                        </p>
                        @* A regisztrációt itt is elrejtjük *@
                        @* <p class="small"><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Új felhasználó</a></p> *@
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}