@{
    ViewData["Title"] = "Főoldal";
}

<div class="text-center mt-5">
    <h1 class="display-4">Izabella Adatbázis</h1>
    <p class="lead">Trágyakezelési és Nyilvántartási Rendszer</p>
    <hr />
    
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">Adatrögzítés</h5>
                    <p class="card-text">Hígtrágya és istállótrágya napi beszállításainak rögzítése.</p>
                    <a asp-controller="Manure" asp-action="Index" class="btn btn-primary btn-lg">Rögzítés indítása</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">Elemzés & Riportok</h5>
                    <p class="card-text">Havi statisztikák, bizonylatszámok és vizuális diagramok megtekintése.</p>
                    <a asp-controller="Report" asp-action="Index" class="btn btn-success btn-lg">Riportok megnyitása</a>
                </div>
            </div>
        </div>
    </div>
</div>
