@model Izabella.Models.Company

@{
    ViewData["Title"] = "Delete";
}

<h1>Cég adatok Törlése</h1>

<h3>Biztos benne, hogy törölni akarja ezt a céget?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Vissza a Cég adatok kezelése listához</a>
    </form>
</div>
